{% load widget_tweaks %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Sassyy - Fashion Search Engine</title>
    <!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel = "stylesheet" href = "static/css/hover.css">
    <link rel = "stylesheet" href = "static/css/flat-ui.min.css">
    <link rel = "stylesheet" href = "static/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-default navbar-top ">
	  <div class="container navbar-inner">
	  	<div class = "row">
		    <!-- Brand and toggle get grouped for better mobile display -->
		    <div class="navbar-header">
		      <a class="navbar-brand hvr-rotate" id = "site-title" href="#">sassyy</a>
		    </div>

		    <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
		      <ul class="nav navbar-nav navbar-right">
		      	<!--<li><a id = "site-title" class = "special-powers-button" href="#">For special powers</a></li>-->
		        <li><a id = "site-title" class = "who-are-we-button" href="#">What do we do?</a></li>

		      </ul>
		    </div><!-- /.navbar-collapse -->
		</div>
	  </div><!-- /.container-fluid -->
	</nav>
	<!-- this is hidden and only appears on click of "who are we?" -->
	<div class = "container who-are-we">
		<div class = "row">

			<div class = "col-md-2">
			</div>

			<div class = "col-md-8">
				<h2> Browsing for clothes made easy </h2>
				<p> 
					 Browsing clothes should be simple and enjoyable, right? Sassy is a collection of clothes from the worlds biggest (and smallest) brands. Our aim is to bring colour and personality to every corner of your life in the simplest way. You can think of us as as the ultimate fashion search engine. 
			    </p>
				<h2> Discover fun and unique products </h2>
					<p> Not everyone likes the big brands. That's why we're making an extra special effort to introduce you to local boutqiues and small fashion labels, for those of you who like to mix things up a little. </p>

				<h2>A style community to die for</h2>

					<p> We love the idea of a tight-knit style community. So here we are, building one for you. Sassy is the one place you can find the worlds best clothes and accessories. You can buy, share, get advice from others or just browse (for hours and hours on end). </p>
				<br>
				<h6 class = "signature">Team Sassy</h5>
				
			</div>

			<div class = "col-md-2">
			</div>

		</div>
	</div>

	<!-- end of "on-click-div" -->

	<!-- Content -->
	<div class = "container main-content">
		<div class = "row row-title">
			<div class = "col-md-2">
			</div>

			<div class = "col-md-8 header">
			<h1>Looking fabulous, as always!</h1>
			</div>

			<div class = "col-md-2">
			</div>
		</div>

		<div class = "row row-picture">
			<div class = "col-md-12">
				<div class = "col-md-3">
				</div>

				<div class = "col-md-6 font-image">
					<img src = "static/img/sass.png" width = "250" class = "hvr-wobble-vertical"id = "sassy-img"></img>
				</div>

				<div class = "col-md-3">
				</div>
		</div>

		<div class = "row row-email">
			<div class = "col-md-12">


				<div class = "col-md-3">
				</div>
			<form action = "/" method = "POST">{% csrf_token %}
				<div class = "col-md-6 text-box">	
					

					{% render_field form.email placeholder="lets go shopping" class+="form-control input-hg btn-color flat" %}
					<!-- input-group-addon -->
					<button class="button input-hg btn-color flat" type = "submit">Get Invite</button>
					

	    		</div>

	 		 </form>

	    		<div class = "col-md-3">
				</div>
			</div>
		</div>
	</div>

	<div class = "row">
			<div class = "col-md-12 carousel-design" id = "carousel">
				<div class = "col-md-3">
				</div>

				<div class = "col-md-6">
				<!-- carousel -->

					<div id="myCarousel" class="carousel slide" data-ride="carousel">
						  <!-- Indicators --

						  <!-- Wrapper for slides -->
						  <div class="carousel-inner" role="listbox">
						    <div class="item active">
						        <h5>Sassy features daily fashion inspiration from the hottest labels around the world.</h5>
						    </div>

						    <div class="item">
						        <h5>Free membership by invitation only.</h5>
						    </div>

						    <div class="item">
						        <h5>Find out what's trending in the style community.</h5>
						    </div>

						  </div>
					</div>
				</div>

				<div class = "col-md-3">
				</div>



			</div>
	</div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	<script type="text/javascript" src="static/js/effects.js"></script>
  </body>
</html>